---
version: '2'
services:
  zoo1:
    image: confluentinc/cp-zookeeper:4.1.0
    hostname: zoo1
    ports:
      - "2181:2181"
    expose:
      - "3000"
    environment:
      ZOOKEEPER_SERVER_ID: 1
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
      ZOOKEEPER_INIT_LIMIT: 5
      ZOOKEEPER_SYNC_LIMIT: 2
      KAFKA_OPTS: -Djava.security.auth.login.config=/etc/kafka/secrets/zookeeper_jaas.conf
        -Dzookeeper.authProvider.1=org.apache.zookeeper.server.auth.SASLAuthenticationProvider
    volumes:
      - .:/etc/kafka/secrets
#      - tmp/zoo1/data:/var/lib/zookeeper/data
#      - tmp/zoo1/log:/var/lib/zookeeper/log

  kafka1:
    image: confluentinc/cp-kafka:4.1.0
    hostname: kafka1
    ports:
      - "9092:9092"
    expose:
      - "9092"
    environment:
      KAFKA_SASL_ENABLED_MECHANISMS: SCRAM-SHA-256
      KAFKA_SASL_MECHANISM_INTER_BROKER_PROTOCOL: SCRAM-SHA-256
      KAFKA_SECURITY_INTER_BROKER_PROTOCOL: SASL_PLAINTEXT
      KAFKA_LISTENERS: "SASL_PLAINTEXT://0.0.0.0:9092"
      KAFKA_ADVERTISED_LISTENERS: "SASL_PLAINTEXT://kafka1:9092"
      KAFKA_ZOOKEEPER_CONNECT: "zoo1:2181"
      KAFKA_BROKER_ID: 0
      KAFKA_NUM_PARTITIONS: 1
      KAFKA_OFFSETS_TOPIC_REPLICATION.FACTOR: 1
#      KAFKA_SUPER_USERS: "User:root"
      KAFKA_LOG4J_LOGGERS: "kafka.controller=INFO,kafka.producer.async.DefaultEventHandler=INFO,state.change.logger=INFO"
      KAFKA_OPTS: -Djava.security.auth.login.config=/etc/kafka/secrets/kafka_server_jaas.conf
    volumes:
      - ./tmp/kafka1/data:/var/lib/kafka/data
      - .:/etc/kafka/secrets/
    depends_on:
      - zoo1

  consumer:
    image: confluentinc/cp-kafka:4.1.0
    command: kafka-console-consumer --new-consumer --topic test-topic --from-beginning --consumer.config=/etc/kafka/secrets/consumer.properties --bootstrap-server=kafka1:9092
    environment:
      KAFKA_LOG4J_LOGGERS: "kafka.controller=INFO,kafka.producer.async.DefaultEventHandler=INFO,state.change.logger=INFO"
      KAFKA_OPTS: -Djava.security.auth.login.config=/etc/kafka/secrets/kafka_client_jaas.conf
    volumes:
      - .:/etc/kafka/secrets/
    depends_on:
      - zoo1
      - kafka1

  producer:
    image: confluentinc/cp-kafka:4.1.0
    command: bash
    environment:
      KAFKA_LOG4J_LOGGERS: "kafka.controller=INFO,kafka.producer.async.DefaultEventHandler=INFO,state.change.logger=INFO"
      KAFKA_OPTS: -Djava.security.auth.login.config=/etc/kafka/secrets/kafka_client_jaas.conf
    volumes:
      - .:/etc/kafka/secrets/
    depends_on:
      - zoo1
      - kafka1